@charset "UTF-8";

/* fonts */

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/Exo2-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Exo2";
  font-display: swap;
  src: url("../fonts/Exo2-VariableFont_wght.woff") format("woff"), url("../fonts/Exo2-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* vars */

/* utility */

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  width: 250px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.dot {
  position: relative;
}

.dot:before {
  position: absolute;
  content: '';
  top: 8px;
  left: -12px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FFFFFF;
}

.dots {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C4C4C4;
}

/* Слайдер */

.slick-slider {
  position: relative;
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* <reset> */

/*- -------------------- <reset-start> -------------------- -*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button {
  background: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*- -------------------- </reset-end> -------------------- -*/

/* <global> */

/* Default font */

/* Constant */

/* General settings */

html,
body {
  min-width: 320px;
  height: 100%;
  font-family: "Roboto";
}

html.lock,
body.lock {
  overflow: hidden;
}

/* Document wrapper */

.wrapper {
  position: relative;
  width: 100%;
  min-width: 100%;
  overflow: hidden;
}

/* Main grid */

.container {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

/* <header> */

/*- -------------------- <header-start> -------------------- -*/

.header {
  border-bottom: 2px solid #c5cad6;
}

.header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 1;
  border-bottom: none;
  -webkit-box-shadow: 0 0 7.5px rgba(19, 27, 46, 0.1);
          box-shadow: 0 0 7.5px rgba(19, 27, 46, 0.1);
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 11px;
}

.header-logo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10px 0 0;
}

.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9498a0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-modal.active {
  opacity: .5;
  visibility: visible;
}

.header-catalog {
  position: relative;
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ea5e20;
  z-index: 1;
}

.header-catalog__title,
.header-catalog .header-menu__title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.header-catalog__img,
.header-catalog .header-menu__top-img {
  margin: 0 10px 0 0;
}

.header-catalog:hover .header-catalog__img-close {
  display: block;
  margin: 0 10px 0 0;
}

.header-catalog:hover .header-catalog__img-catalog {
  display: none;
}

.header-catalog:hover .header-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  pointer-events: unset;
}

.header-menu {
  position: absolute;
  top: 0;
  left: -210px;
  width: 429px;
  background: #eaecf0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.header-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: #ea5e20;
}

.header-menu__top-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}

.nav-menu {
  height: 397px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu__list {
  position: relative;
}

.nav-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-bottom: 2px solid #ffffff;
  padding: 0 0 0 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.nav-menu__item:nth-child(1) {
  border-top: 2px solid #ffffff;
}

.nav-menu__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-menu__item-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2a3141;
}

.nav-menu__item-link span {
  position: relative;
  top: -5px;
  font-size: 10px;
  font-weight: bold;
  color: #ea5e20;
}

.nav-menu__item-img2 {
  height: 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.nav-menu__list2 {
  position: absolute;
  top: 0;
  right: -272px;
  width: 272px;
  height: 397px;
  background: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
}

.nav-menu__list2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eaecf0;
  padding: 19px 15px;
}

.nav-menu__list2 li:last-child {
  border-bottom: none;
}

.nav-menu__list2 li a {
  font-size: 12px;
  font-weight: normal;
}

.nav-menu__list2 li a span {
  color: #898d95;
}

.nav-menu__item:hover {
  background: #FFFFFF;
}

.nav-menu__item:hover .nav-menu__item-img {
  display: none;
}

.nav-menu__item:hover .nav-menu__item-img2 {
  visibility: visible;
  opacity: 1;
}

.nav-menu__item:hover .nav-menu__list2 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.header-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  height: 50px;
  border: 2px solid #eaecf0;
  padding: 5px 15px 5px 5px;
  margin: 0 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-search__btn {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaecf0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-search__btn-text {
  font-size: 16px;
  color: #2a3141;
  font-weight: 500;
  margin: 0 5px 0 0;
}

.header-search__btn-img {
  width: 12px;
  height: 8px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-search__choice {
  position: absolute;
  top: 52px;
  left: 5px;
  width: 261px;
  height: 136px;
  background: #ffffff;
  -webkit-filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
          filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
  padding: 20px 15px 15px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header-search__choice-text {
  font-size: 14px;
  color: #2a3141;
}

.header-search__choice-btn {
  width: 231px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #2a3141;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-search__choice-btn:nth-child(2) {
  background: #eef0f4;
  margin: 17px 0 10px;
}

.header-search__choice-btn:nth-child(2):hover {
  background: #c5cad6;
}

.header-search__choice-btn:nth-child(3) {
  background: #c5cad6;
}

.header-search__choice-btn:nth-child(3):hover {
  background: #eef0f4;
}

.header-search__input {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 0 0 16px;
}

.header-search__input-enter {
  width: 80%;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #2a3141;
}

.header-search__input-enter::-webkit-input-placeholder {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #696e7a;
}

.header-search__input-enter::-moz-placeholder {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #696e7a;
}

.header-search__input-enter:-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #696e7a;
}

.header-search__input-enter::-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #696e7a;
}

.header-search__input-enter::placeholder {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #696e7a;
}

.header-search__input-label {
  position: absolute;
  top: 4px;
  right: 15px;
}

.header-search__input-label:hover {
  cursor: pointer;
}

.header-search__lens {
  width: 22px;
  height: 22px;
  justify-self: flex-end;
}

.header-search:hover {
  border-color: #ea5e20;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.hidden {
  visibility: hidden;
}

.header-search__btn:hover .header-search {
  border-color: #e45c20 !important;
}

.header-search__btn:hover {
  background: #c5cad6;
}

.header-search__btn:hover .header-search__btn-img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-search__choice.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  z-index: 1;
  pointer-events: unset;
}

.header-compare,
.header-favorites,
.header-basket,
.header-user {
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #eaecf0;
  background: #eaecf0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-compare:hover,
.header-favorites:hover,
.header-basket:hover,
.header-user:hover {
  background: #c5cad6;
}

.header-compare:active,
.header-favorites:active,
.header-basket:active,
.header-user:active {
  border-color: #ea5e20;
  background: #fbe9e0;
}

.header-compare span,
.header-favorites span,
.header-basket span {
  display: none;
}

.header-compare:active span,
.header-favorites:active span,
.header-basket:active span {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  background: #ea5e20;
}

.header-favorites {
  margin: 0 20px;
}

.header-user {
  position: relative;
  margin: 0 20px;
}

.header-user__popup {
  position: absolute;
  top: 71px;
  left: -12px;
  width: 261px;
  height: 222px;
  background: #ffffff;
  -webkit-filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
          filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: 1;
  pointer-events: none;
}

.header-user__popup-list {
  border-bottom: 1px solid #c5cad6;
  padding: 19px 13px 0 13px;
}

.header-user__popup-item {
  margin: 0 0 12px;
}

.header-user__popup-link {
  font-size: 14px;
  color: #2a3141;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-user__popup-link span {
  color: #F58452;
}

.header-user__popup-link:hover {
  color: #F58452;
}

.header-user__popup-btn {
  display: inline-block;
  font-size: 14px;
  color: #2a3141;
  padding: 13px 13px 18px 13px;
}

.header-user__popup-btn:hover {
  color: #F58452;
}

.header-user__popup.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  pointer-events: unset;
}

.header-btn {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #2a3141;
  font-weight: 500;
  background: #eaecf0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-btn:hover {
  background: #c5cad6;
}

/*- -------------------- </header-end> -------------------- -*/

/* <headerTop> */

/*- -------------------- <headerTop-start> -------------------- -*/

.header-top {
  position: relative;
  background: #2A3141;
  z-index: 2;
}

.header-inner {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: #ffffff;
  margin: 0 0 15px;
}

.header-inner a {
  color: #FFFFFF;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-city {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
  z-index: 1;
}

.header-city__icon {
  width: 11px;
  height: 15px;
  margin: 0 10px 0 0;
}

.header-city__text {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin: 0 5px 0 0;
}

.header-city__text span {
  color: #F58452;
}

.header-city__arrow {
  width: 12px;
  height: 8px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-city__popup {
  position: absolute;
  top: 53px;
  left: 84px;
  min-width: 261px;
  height: 136px;
  background: #ffffff;
  padding: 20px 15px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
          filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
  pointer-events: none;
  z-index: 4;
}

.header-city p {
  color: #2a3141;
}

.header-city p span {
  color: #F58452;
}

.header-city__popup-yes,
.header-city__popup-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 231px;
  height: 30px;
  font-weight: 500;
}

.header-city__popup-yes {
  background: #ea5e20;
  margin: 17px 0 10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-city__popup-yes:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.header-city__popup-no {
  background: #2f416f;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-city__popup-no:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.header-city:hover > .header-city__text {
  color: #F58452;
}

.header-city:hover .header-city__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-city:hover > .header-city__popup {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  pointer-events: unset;
  z-index: 2;
}

.header-delivery {
  margin: 0 30px;
}

.header-payment {
  margin: 0 30px 0 0;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
}

.header-about__text {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin: 0 5px 0 0;
}

.header-about__img {
  width: 12px;
  height: 8px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-about__popup {
  position: absolute;
  top: 53px;
  left: -14px;
  min-width: 261px;
  height: 201px;
  background: #ffffff;
  padding: 20px 0 20px 13px;
  z-index: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  visibility: hidden;
  opacity: 0;
  -webkit-filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
          filter: drop-shadow(0 0 7.5px rgba(19, 27, 46, 0.1));
  pointer-events: none;
}

.header-about__popup-list {
  margin: 0 0 12px 0;
}

.header-about__popup-link {
  color: #2a3141 !important;
}

.header-about:hover .header-about__img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header-about:hover .header-about__text {
  color: #F58452;
}

.header-about:hover .header-about__popup {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  pointer-events: unset;
}

.header-about__popup-link:hover {
  color: #F58452 !important;
}

.header-contact {
  margin: 0 30px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-contact:hover {
  color: #FF8853;
}

.header-email,
.header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-email a,
.header-phone a {
  color: #FF8853;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.header-email img,
.header-phone img {
  margin: 0 10px 0 0;
}

.header-email:hover a,
.header-phone:hover a {
  color: #FFFFFF;
}

.header-email {
  margin: 0 30px 0 0;
}

/*- -------------------- </headerTop-end> -------------------- -*/

/* <intro> */

/*- -------------------- <intro-start> -------------------- -*/

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 0 0;
}

.intro-left {
  position: relative;
  width: 1130px;
  margin: 0 40px 0 0;
}

.intro-left__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-left__control-prev,
.intro-left__control-next {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.intro-left__control-prev:hover,
.intro-left__control-next:hover {
  background: #2a3141;
}

.intro-left__control-prev:hover svg,
.intro-left__control-next:hover svg {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  fill: #ffffff;
}

.intro-left__control-prev {
  position: absolute;
  top: 45%;
  left: -8px;
}

.intro-left__control-next {
  position: absolute;
  top: 45%;
  right: -8px;
}

.intro-banner {
  position: relative;
}

.intro-slide {
  width: 1130px;
  height: 450px;
  background-repeat: no-repeat;
  padding: 140px 0 0 100px;
}

.intro-title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Exo2';
  color: #ea5e20;
}

.intro-subtitle {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Exo2';
  color: #2f416f;
  margin: 8px 0 35px;
}

.intro-btn {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  background: #2f416f;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.intro-btn:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  width: 30px;
  height: 3px;
  background: #2a3141;
  margin: 0 10px 0 0;
}

.slick-dots li:last-child {
  margin: 0;
}

.slick-dots li.slick-active {
  width: 30px;
  height: 5px;
  background: #ea5e20;
}

.slick-dots li button {
  font-size: 0;
}

.intro-right {
  width: 349px;
}

.intro-right__control-next {
  position: absolute;
  top: 45%;
  right: -8px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.intro-right__control-next img {
  width: 16px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.intro-right__control-next:hover {
  background: #2a3141;
}

.intro-right__control-next:hover svg {
  fill: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.intro-card {
  position: relative;
}

.intro-miniSlider {
  border: 2px solid #eaecf0;
}

.intro-miniSlider .slick-dots {
  bottom: 40px;
  left: 20px;
}

.intro-item {
  position: relative;
  width: 349px;
  height: 450px;
  background-repeat: no-repeat;
  background-position: 20px 54px;
  padding: 29px 20px 0 21px;
}

.intro-item__title {
  font-size: 35px;
  color: #2a3141;
  font-weight: bold;
  line-height: 0;
}

.intro-item__discont {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background: #ea5e20;
}

.intro-item__discont p {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

.intro-item__discont span {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.intro-item__subtitle {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Exo2';
  color: #2a3141;
  margin: 232px 0 33px;
}

.intro-item__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-item__price {
  font-size: 22px;
  font-weight: 700;
  color: #ea5e20;
}

.intro-item__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 46px;
  background: #ea5e20;
  z-index: 1;
}

.intro-item__icon:before {
  position: absolute;
  content: '';
  top: -3px;
  left: -3px;
  width: 52px;
  height: 52px;
  border: 2px solid #ea5e20;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.intro-item__icon:before:focus {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.intro-item__icon:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.intro-item__icon-link {
  position: relative;
  z-index: 1;
}

/*- -------------------- </intro-end> -------------------- -*/

/* <sale> */

/*- -------------------- <sale-start> -------------------- -*/

.sale-content {
  padding: 80px 0;
}

.sale-top {
  margin: 0 0 18px;
}

.sale-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Exo2";
  text-transform: uppercase;
  color: #2a3141;
}

.sale-link {
  font-size: 18px;
  font-weight: 500;
  color: #ea5e20;
}

.sale-link__img {
  margin: 0 0 0 5px;
}

.sale-body {
  position: relative;
}

.sale-item {
  width: 381px;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #eaecf0;
  border-bottom: 2px solid #eaecf0;
  border-left: 1px solid #eaecf0;
  border-right: 1px solid #eaecf0;
  padding: 19px;
}

.sale-item:hover .sale-subtitle {
  color: #e03500;
}

.sale-img {
  position: relative;
  width: 340px;
  height: 260px;
  margin: 0 0 13px 0;
}

.sale-img__left {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sale-img__left-hit {
  background: #e03500;
}

.sale-img__left-new {
  background: #2f416f;
  margin: 5px 0;
}

.sale-img__left-discont {
  background: #ea5e20;
}

.sale-img__left-hit,
.sale-img__left-new,
.sale-img__left-discont {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 7px;
}

.sale-img__right {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale-img .favoriteActive {
  margin: 0 0 19px;
}

.sale-img__right-favorite,
.sale-img__right-compare {
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaecf0;
}

.sale-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #2a3141;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-view {
  width: 340px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #2a3141;
  background: #eaecf0;
  margin: 11px 0 13px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-view:hover {
  background: #c5cad6;
}

.sale-info__delivery-text {
  font-size: 14px;
  font-weight: 500;
  color: #2f416f;
  margin: 0 6px 0 0;
}

.sale-info__not-text {
  font-size: 14px;
  font-weight: 500;
  color: #898d95;
  margin: 0 5px 0 0;
}

.sale-info__stock-text {
  font-size: 14px;
  font-weight: 500;
  color: #2f416f;
  margin: 0 5px 0 0;
}

.sale-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 13px 0 10px;
}

.sale-cost__text {
  font-size: 22px;
  font-weight: 700;
  color: #ea5e20;
}

.sale-cost__box {
  width: 165px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eaecf0;
  padding: 5px;
}

.sale-cost__box-num {
  width: 83px;
  height: 36px;
}

.sale-cost__box-num input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #2f416f;
}

.sale-cost__box-minus,
.sale-cost__box-plus {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-cost__box-minus:hover,
.sale-cost__box-plus:hover {
  background: rgba(197, 202, 214, 0.66);
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.sale-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-buttons__left {
  width: 166px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ea5e20;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-buttons__left:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.sale-buttons__left-img {
  margin: 0 11px 0 0;
}

.sale-buttons__left-text {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.sale-buttons__right {
  width: 165px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2f416f;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-buttons__right:hover {
  -webkit-filter: saturate(300%);
          filter: saturate(300%);
}

.sale-buttons__right-text {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.sale-button {
  width: 340px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e03500;
}

.sale-button__img {
  margin: 0 11px 0 0;
}

.sale-button__btn {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.sale-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.sale-control__prev,
.sale-control__next {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-control__prev:hover,
.sale-control__next:hover {
  background: #2a3141;
}

.sale-control__prev:hover svg,
.sale-control__next:hover svg {
  fill: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sale-control__prev {
  left: -8px;
}

.sale-control__next {
  right: -8px;
}

/*- -------------------- </sale-end> -------------------- -*/

/* <categories> */

/*- -------------------- <categories-start> -------------------- -*/

.categories-content {
  padding: 0 0 80px;
}

.categories-top {
  margin: 0 0 48px;
}

.categories-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
}

.categories-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-first,
.item-last {
  background: #2f416f;
}

.categories-item {
  position: relative;
  width: 380px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.categories-item__big {
  width: 760px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: right;
}

.categories-item__big:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.categories-item__img {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.categories-item__text {
  position: absolute;
  top: 0;
  left: 0;
}

.categories-item:nth-child(2) {
  background: #eaecf0;
}

.categories-item:nth-child(4) {
  background: #eaecf0;
}

.categories-item:hover .text1,
.categories-item:hover .text2,
.categories-item:hover .text3,
.categories-item:hover .text4,
.categories-item:hover .text5,
.categories-item:hover .text6 {
  letter-spacing: 1.5px;
}

.categories-item:hover .categories-item__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6 {
  top: 300px;
  left: 39px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'exo2';
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.text1 span,
.text2 span,
.text3 span,
.text4 span,
.text5 span,
.text6 span {
  font-size: 14px;
  color: #ea5e20;
}

.text2,
.text4 {
  top: 312px;
  left: 29px;
  color: #5e6c8f;
}

.text3,
.text5 {
  top: 312px;
}

.text3 span,
.text5 span {
  color: #2f416f;
}

.text6 {
  top: 314px;
}

.item-three {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.item-three,
.item-five {
  background: #ea5e20;
}

/*- -------------------- </categories-end> -------------------- -*/

/* <advantages> */

/*- -------------------- <advantages-start> -------------------- -*/

.advantages {
  background: #f4f5f7;
}

.advantages-content {
  padding: 50px 0;
}

.advantages-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
  margin: 0 0 43px;
}

.advantages-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #2a3141;
}

.advantages-item img {
  margin: 0 0 20px;
}

/*- -------------------- </advantages-end> -------------------- -*/

/* <brands> */

/*- -------------------- <brands-start> -------------------- -*/

.brands-content {
  padding: 80px 0;
}

.brands-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 23px 0;
}

.brands-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
  margin: 0 0 10px 0;
}

.brands-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands-subtitle a {
  font-size: 18px;
  font-weight: 500;
  color: #ea5e20;
  margin: 0 8px 0 0;
}

.brands-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.brands-distribution {
  background: #2f416f;
}

.brands-distribution,
.brands-deliveries {
  width: 154px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.brands-deliveries {
  color: #2f416f;
  background: #eaecf0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.brands-deliveries:hover {
  background: #c5cad6;
}

.brands-body {
  position: relative;
}

.brands-item {
  width: 272px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #eaecf0;
  margin: 0 20px;
}

.brands-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands-control__prev,
.brands-control__next {
  position: absolute;
  top: 35%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.brands-control__prev:hover,
.brands-control__next:hover {
  background: #2a3141;
}

.brands-control__prev:hover svg,
.brands-control__next:hover svg {
  fill: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.brands-control__prev {
  left: -8px;
}

.brands-control__next {
  right: -8px;
}

/*- -------------------- </brands-end> -------------------- -*/

/* <shop> */

/*- -------------------- <shop-start> -------------------- -*/

.shop {
  background: #f4f5f7;
}

.shop-content {
  padding: 50px 0;
}

.shop-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
}

.shop-subtitle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2f416f;
  margin: 15px 0;
}

.shop-text {
  font-size: 16px;
  color: #2a3141;
}

.shop-text span {
  font-weight: bold;
}

.shop-text:nth-child(2),
.shop-text:nth-child(4) {
  margin: 10px 0;
}

.shop-btn {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  background: #2f416f;
  margin: 26px 0 0 0;
}

/*- -------------------- </shop-end> -------------------- -*/

/* <news> */

/*- -------------------- <news-start> -------------------- -*/

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

.news-left,
.news-right {
  width: 740px;
}

.news-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
}

.news-link {
  margin: 20px 0;
}

.news-link a {
  font-size: 18px;
  font-weight: 500;
  color: #ea5e20;
  margin: 0 8px 0 0;
}

.news-sideRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.news-prev,
.news-next,
.news-prev__right,
.news-next__right {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #c5cad6;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news-prev:hover,
.news-next:hover,
.news-prev__right:hover,
.news-next__right:hover {
  background: #2a3141;
}

.news-prev:hover svg,
.news-next:hover svg,
.news-prev__right:hover svg,
.news-next__right:hover svg {
  fill: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news-img {
  width: 440px;
  height: 383px;
}

.news-block {
  background: #f4f5f7;
  padding: 30px 38px 47px 20px;
}

.news-block__article {
  background: #2f416f;
}

.news-date time {
  font-size: 13px;
  color: #696e7a;
}

.news-date__right time {
  color: #FFFFFF;
}

.news-subtitle {
  font-size: 20px;
  font-weight: bold;
  font-family: 'exo2';
  color: #2a3141;
  margin: 20px 0;
}

.news-subtitle__right {
  color: #FFFFFF;
}

.news-text {
  font-size: 14px;
  color: #2a3141;
}

.news-text__right {
  color: #FFFFFF;
}

.news-btn {
  margin: 20px 0 0 0;
}

.news-btn a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #ff8853;
  margin: 0 8px 0 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.news-btn a:hover {
  color: #ea5e20;
}

/*- -------------------- </news-end> -------------------- -*/

/* <footer> */

/*- -------------------- <footer-start> -------------------- -*/

.footer {
  background: #2a3141;
}

.footer-top {
  border-bottom: 2px solid #555a67;
  padding: 18px 0 21px;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__link {
  font-size: 16px;
  font-weight: 500;
  color: #ff8853;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-nav__link:hover {
  color: #ea5e20;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0 36px;
}

.footer-list {
  margin: 0 135px 0 0;
}

.footer-list:nth-child(2) {
  margin: 0 21px 0 0;
}

.footer-item {
  margin: 0 0 20px;
}

.footer-item:last-child {
  margin: 0;
}

.footer-link {
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-link:hover {
  color: #ea5e20;
}

.footer-left {
  margin: 0 127px 0 0;
}

.footer-address,
.footer-email,
.footer-tel,
.footer-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-address img,
.footer-email img,
.footer-tel img,
.footer-time img {
  margin: 0 19px 0 0;
}

.footer-address {
  padding: 0 0 0 5px;
  margin: 0 0 35px;
}

.footer-address__link {
  font-size: 14px;
  color: #ff8853;
  margin: 6px 0 0 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-address__link:hover {
  color: #ea5e20;
}

.footer-email__link {
  font-size: 14px;
  color: #ff8853;
  margin: 6px 0 0 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-email__link:hover {
  color: #ea5e20;
}

.footer-tel {
  margin: 0 0 35px;
}

.footer-tel__link {
  font-size: 14px;
  color: #ff8853;
  margin: 6px 0 0 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-tel__link:hover {
  color: #ea5e20;
}

.footer-time {
  margin: 0 0 42px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social:nth-child(2n) {
  margin: 0 18px;
}

.footer-social__vk,
.footer-social__instagram,
.footer-social__facebook,
.footer-social__youtube,
.footer-social__twitter {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social__vk {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-social__vk:hover {
  background: #4d76a1;
}

.footer-social__instagram {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin: 0 18px;
}

.footer-social__instagram:hover {
  background: #c536a4;
}

.footer-social__facebook {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-social__facebook:hover {
  background: #3b5998;
}

.footer-social__youtube {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin: 0 18px;
}

.footer-social__youtube:hover {
  background: #ff0000;
}

.footer-social__twitter {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer-social__twitter:hover {
  background: #03a9f4;
}

/*- -------------------- </footer-end> -------------------- -*/

@media (max-width: 1532px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1532px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}
